*{
    margin: 0px;
    padding: 0px;
}
body{
    background: lightskyblue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container{
    width: 1100px;
    margin: 0px auto;
    border: 1px solid black;
}

header{
    background: lightblue;
    height: 100px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    color: lightcoral;
    border-bottom: 3px;
}

nav ul li{
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
}

.clearfix{
    clear: both;
}

nav{
    background: lightcyan;
    height: 50px;
    border-bottom: 1px solid black;
}

#content{
    float: left;
    width: calc(80% - 80px);
    min-height: 500px;
    padding: 40px;
}

aside{
    float: left;
    width: calc(20% - 20px);
    background: lightpink;
    min-height: 500px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
}

footer{
    background: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.article{
    color: black;
    margin-top: 15px;
    margin-bottom: 15;
    padding-bottom: 15px;
    border-bottom: 1px solid whitesmoke;
}

.article:first-child{
    border-top: 1px solid whitesmoke;
    padding-top: 15px;
}

.article h2{
    font-size: 30px;
}